---
BasedOnStyle: LLVM
---
Language: Cpp
Standard: c++20
ColumnLimit: 119

AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BinPackArguments: false
BinPackParameters: OnePerLine
BreakAfterAttributes: Leave
BreakBeforeConceptDeclarations: Always
BreakTemplateDeclarations: Leave
ContinuationIndentWidth: 2
IndentCaseLabels: true
PackConstructorInitializers: NextLine
