---
BasedOnStyle: LLVM
---
Language: Cpp
Standard: c++20
ColumnLimit: 120

AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BinPackArguments: false
BinPackParameters: OnePerLine
BreakAfterAttributes: Leave
BreakBeforeConceptDeclarations: Always
BreakConstructorInitializers: BeforeColon
BreakStringLiterals: false # avoid breaking them because the `throw` message in compilation errors would be truncated
BreakTemplateDeclarations: Leave
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
IndentCaseLabels: true
PackConstructorInitializers: NextLine
